<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./examples/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Color Tools Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Color">
            <file>./tests/ColorCreateTest.php</file>
            <file>./tests/ColorFunctionsTest.php</file>
            <file>./tests/ColorTest.php</file>
        </testsuite>
        <testsuite name="Histogram">
            <file>./tests/HistogramTest.php</file>
        </testsuite>
        <testsuite name="Image">
            <file>./tests/ImageTest.php</file>
            <file>./tests/ImageOutputTest.php</file>
        </testsuite>
        <testsuite name="Store">
            <file>./tests/StoreTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="TEST_URL" value="https://colortools.weanswer.it/samples/test-small.png" />
    </php>
</phpunit>